[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
jsonify = "*"
flask = "*"
gunicorn = "*"
numpy = "*"
botocore = "*"

[dev-packages]
requests = "*"
awscli = "*"
boto3 = "*"
botocore = "*"

[requires]
python_version = "3.11"
